/* html style */

html {

    background-color: yellow;
}

/* body style */

body {

    background-color: white;
    width: 700px;
    border: 2px solid black;
    margin: 0px auto; 
}

/* header style */

header {

    height: 120px;
    border-bottom: 2px solid blue;
}

header img {

    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50px;
}

header h1 {

    margin-left: 100px;
    text-shadow: 12px 10px 12px green;


}

header h1::first-letter {

    font-size: 55px;
    color: red;
}

/* navigation menu bar */
nav ul {

    list-style-type: none;


}

nav ul li {

    display: inline;
    margin: 12px;
}

nav ul li a {

    text-decoration: none;
    color: blue;
}

nav ul li a:link {


    color: blue;
    text-decoration: none;
}

nav ul li a:visited {

    color: blueviolet;
}

nav ul li a:hover {

    color: green;
    text-decoration: underline;
}

nav ul li a:active {

    color: lightskyblue;
    font-size: 19px;
}

/* p::first-line {

    color: red;
} */

/* table style */

table, th, td {

    border: 2px solid black;

}

table {

    width: 300px;
    margin: 2px auto;
    border-collapse: collapse;
}

tr:hover {

    background-color: yellow;;
}

td {

    text-align: center;
}

caption {

    color: red;
    font-size: 23px;
    font-style:italic;
    font-weight: 400;
}
.para {

    color: darkolivegreen;
}


/* main style */

main, section, article {

    padding: 12px;
}

main p {

    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
#first {

    color: darkgrey;
}
/* footer style */

footer {

    border-top: 2px solid blue;

}

footer p {

    text-align: center;
}